.App {
  text-align: center;
}

/* CSS HELPER CLASSES */

.pb-6 {
  padding-bottom: 100px;
}

.btn-dark {
  background-color: black !important;
}

.btn-light {
  background-color: #9b9b9b;
  color: white;
}

/****************/

.fa-pen {
  background-color: #eeeeee;
  color: black;
  border: none;
  border-radius: 50%
}

.fa-times {
  background-color: #eeeeee;
  color: red;
  border: none;
  border-radius: 50%
}

.block-lg {
  min-height: 50px;
  max-height: 50px;
}

.team-category {
  color: #827e99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.emp-card {
  padding: 10px 20px 10px 20px;
}

.emptext-card {
  padding-left: 80px;
  text-align: left;
}

.card-title {
  color: #4a4a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.card-title {
  color: #827e99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

.card-subtitle {
  color: #827e99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.card-text {
  color: #9b9b9b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.content-label {
  font-size: 12px;
  font-weight: 500;
}

.content-text {
  font-size: 14px;
}

.img-rounded {
  min-width: 60px;
  max-width: 60px;
  margin-top: -5px;
}

.buttons-div {
  min-height: 50px;
  max-height: 50px;
}

.rounded-6 {
  /* rounded */
  border-radius: 10px;
}

.confirm-delete {
  margin-top: -50px;
  opacity: 0.80;
  min-height: 50px;
  max-height: 50px;
  color: white;
}

.btn-corner {
  /* right corner */
  position: absolute;
  left: 100%;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
  /* overlapping */
  top: 25px;
	z-index: 20;
  /* rounded */
    border-radius: 50%;
  color: white !important;
  background-color: black;
}

.display-none{
  display: none;
}

.display{
  display: flexbox;
}

.confirm-delete button {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.card-body {
  position: relative;
  margin: auto 0;
}

.avatar {
  min-width: 104px;
  max-width: 104px;
  /* centered */
  position: absolute;
  left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
  /* overlapping */
    top: -50px;
	z-index: 20;
  /* rounded */
    border-radius: 50%
    }

